<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three.js Basic Samples</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/layout.css">
</head>

<body class="sample-index">
    <h1 class="text-3xl font-bold mb-8 text-center">Three.js Basic Samples</h1>
    <section class="mx-auto">
        <div class="grid my-4 max-w-3xl">
            <a href="app.html"
                class="block bg-gray-800 hover:bg-gray-700 rounded-lg p-4 text-center transition">サンプル</a>
        </div>
    </section>

    <section class="mx-auto">
        <h2 class="text-2xl font-bold mb-4">Geometry List</h2>
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 max-w-3xl">
            <a href="capsule.html" target="_blank"
                class="block bg-gray-800 hover:bg-gray-700 rounded-lg p-4 text-center transition">Capsule</a>
            <a href="circle.html" target="_blank"
                class="block bg-gray-800 hover:bg-gray-700 rounded-lg p-4 text-center transition">Circle</a>
            <a href="cone.html" target="_blank"
                class="block bg-gray-800 hover:bg-gray-700 rounded-lg p-4 text-center transition">Cone</a>
            <a href="cube.html" target="_blank"
                class="block bg-gray-800 hover:bg-gray-700 rounded-lg p-4 text-center transition">Cube</a>
            <a href="cylinder.html" target="_blank"
                class="block bg-gray-800 hover:bg-gray-700 rounded-lg p-4 text-center transition">Cylinder</a>
            <a href="dodecahedron.html" target="_blank"
                class="block bg-gray-800 hover:bg-gray-700 rounded-lg p-4 text-center transition">Dodecahedron</a>
            <a href="lathe.html" target="_blank"
                class="block bg-gray-800 hover:bg-gray-700 rounded-lg p-4 text-center transition">Lathe</a>
            <a href="octahedron.html" target="_blank"
                class="block bg-gray-800 hover:bg-gray-700 rounded-lg p-4 text-center transition">Octahedron</a>
            <a href="plane.html" target="_blank"
                class="block bg-gray-800 hover:bg-gray-700 rounded-lg p-4 text-center transition">Plane</a>
            <a href="ring.html" target="_blank"
                class="block bg-gray-800 hover:bg-gray-700 rounded-lg p-4 text-center transition">Ring</a>
            <a href="shape.html" target="_blank"
                class="block bg-gray-800 hover:bg-gray-700 rounded-lg p-4 text-center transition">Shape</a>
            <a href="sphere.html" target="_blank"
                class="block bg-gray-800 hover:bg-gray-700 rounded-lg p-4 text-center transition">Sphere</a>
            <a href="tetrahedron.html" target="_blank"
                class="block bg-gray-800 hover:bg-gray-700 rounded-lg p-4 text-center transition">Tetrahedron</a>
            <a href="torus.html" target="_blank"
                class="block bg-gray-800 hover:bg-gray-700 rounded-lg p-4 text-center transition">Torus</a>
            <a href="tube.html" target="_blank"
                class="block bg-gray-800 hover:bg-gray-700 rounded-lg p-4 text-center transition">Tube</a>
        </div>
    </section>
</body>

</html>